@import url('https://fonts.googleapis.com/css?family=Acme|Alata|Trade+Winds&display=swap');
/*-------------------------------------------- body --*/
 html,body{
     position:relative;
     padding:0;
     margin:0;
     width:100%;
     overflow-x: hidden;
}
 .container, .container-fluid {
     width: 100%;
}
/*-------------------------------------------- Navbar (Menu) -- */
 .navbar{
     background-color:#fdf0ff;
}
 .dropdown-menu{
     background-color:#fcf6ff;
}
 .hvr-back-pulse{
     background-color :#fcf6ff;
}
 .dropdown-menu a:hover{
     background-color : #caebdb;
}
 .navbar-nav{
     color:#001854;
     font-family: 'Acme' ;
     font-size: 22px;
}
 .navbar-toggler {
     margin-left: 20px;
     border-color: #001854;
}
 .navbar-toggler-icon {
     background-image: url( "data:image/svg+xml; charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 24, 84, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
 .navbar-nav .nav-link {
     color: #001854;
}
 .navbar-brand{
     margin-left:30px;
}
 .nav-item{
     padding-left: 15px;
     padding-right: 15px;
}
 .svg-inline--fa {
     font-size: 35px;
     color:green;
}
 a[data-toggle="collapse"] {
     position: relative;
}
/*-------------------------------------------- Heading --*/
 .heading div{
     display: inline-block;
}
 .col-md-12{
     background-image: url("../images/02.titlebackground.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     vertical-align: baseline;
     padding: 30px;
}
/* .col-md-12 .row a{
     text-align: center;
}
*/
 header {
     margin: 0;
}
 .name, .title{
     font-family: 'Trade Winds' ;
}
 .name{
     font-size: 45px;
}
/*--------------------------------------------mainpage -- */
 .mainpage{
     font-family: alata;
     padding: 20px 0px 0px 30px;
     position:relative;
     max-width:90%;
     margin-left:auto;
     margin-right:auto;
}
 .breadcrumb{
     padding: 0;
     background: none;
     font-family: acme;
     font-size:14px;
}
 .breadcrumb a{
     color:blue;
}
 .breadcrumb li+li:before {
     padding: 8px;
     color: black;
     content: ">";
}
 .section-heading{
     font-size: 30px;
     font-style:italic;
     font-weight:bold;
     margin-top: 15px;
     margin-bottom: 40px;
}
 .rightalign{
     text-align: right;
     padding-right:inherit;
     color:#210852;
     margin-bottom: 30px;
}
/*-------------------------------------------- mainpage : index.html -- */
 #indeximg{
     height: 100%;
     width: 100%;
}
 #onsale{
     height: 30%;
     width: 30%;
}
 .index{
     padding-left:20px;
     padding-right:0;
}
 #salesmessage{
     text-align: center;
     font-family: acme;
     font-weight: bold;
     font-size: 18px;
     border-style: dashed;
     color: purple;
     padding:10px;
}
 #salesmessage img{
     margin-top:10px;
}
 #salesmessage a{
     color: blue;
     font-size:20px;
}
 #salesmessage .far{
     font-size:30px;
     color: orangered;
}
 div .contents{
     padding-right: 30px;
}
/*-------------------------------------------- mainpage : information.html, dalahorse.html, rooster.html -- */
 .contents{
     display: inline-block;
}
 #dalahorseinfopic{
     width: 90%;
     height: 90%;
     border:0px;
}
 #roosterinfopic{
     width: 90%;
     height: 90%;
     border:0px;
}
 #roosterpic{
     border:0px;
}
 #dalahorsepic{
     border:0px;
     padding: 0;
}
 #texts1, #texts2{
     max-width:480px;
}
/*--------------------------------------------mainpage : gallery.html -- */
 .card-columns{
     margin-top:20px;
     column-count:auto;
}
 .card-columns .card {
     width: 310px;
     height: 260px;
     margin-right: 20px;
}
 .card{
     border: none;
     margin-bottom: 30px;
}
 .card img{
     width: 98%;
     height: 270px;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
/*--------------------------------------------mainpage : Purchase.html, dalahorsegoods.html, roostergoods.html*/
 div.goods{
     margin-bottom: 40px;
     vertical-align: top;
     display: inline-block;
     padding: 10px;
     text-align: center;
}
 .card-title{
     margin-top: 8px;
     font-size: 18px;
     text-align: center;
}
 div.card.goods{
     column-count:auto;
}
 div.card.goods img{
     width: 75%;
     height:auto;
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
     vertical-align: middle;
}
 .card-body{
     padding:0;
}
 div.goods p{
     text-align: center;
     padding-left: 20px;
     font-size: 14px;
}
 span.webprice{
     font-size: 18px;
     font-weight: bold;
     color:red;
}
 div.goods button{
     width:88px;
     height: 50px;
     font-size: 16px;
}
/*--------------------------------------------mainpage : aboutus.html -- */
 .contactinfo p{
     text-align: left;
     font-family: 'Alata';
     margin-bottom: 25px;
}
 .contactinfo p>.svg-inline--fa{
     color: #513470;
     font-size:20px;
     text-align: center;
     margin-right: 10px;
}
 .language li{
     vertical-align: top;
     display: inline-block;
     padding-right:11px;
}
/*--------------------------------------------mainpage : contactus.html -- */
 .message-form{
     display: block;
     text-align: center;
     margin-right: 35px;
}
 .message-form select, input{
     width: 80%;
     margin-bottom: 15px;
     display: inline-block;
     height: 32px;
}
 .message-form textarea{
     width: 80%;
     margin-bottom: 15px;
     resize:none;
     overflow-y: scroll;
}
 .message-form label{
     min-width: 100px;
     font-size: 18px;
     margin-bottom: 2px;
     width:12%;
     text-align: left;
     vertical-align: top;
}
 .message-link{
     margin-top: 50px;
     font-size : 30px;
     text-align: center;
}
 .message-link a{
     color:orangered;
     border-bottom: dotted 1px rgb(255, 196, 0);
}
 option:disabled {
     color: rgb(170, 170, 170);
}
/*-------------------------------------------- footer --*/
 footer{
     margin-top: 80px;
     padding:5px;
     text-align: center;
     background-color: #d1f0d9;
}
 .social{
     margin-top:30px;
     text-align: center;
}
 .list-inline-item{
     padding: 5px 15px 0px 15px;
     font-size: 50px;
}
 .list-inline-item a{
     color: #014a00;
}
 @media screen and (max-width: 991.98px) {
     .navbar-brand{
         display: none;
    }
}
 @media screen and (max-width: 768.02px) {
    /* --------------- information.html, dalahorse.html, rooster.html ----- */
     #texts1, #texts2{
         margin-top:15px;
         font-size:14px;
    }
     .name{
         font-size: 40px;
    }
     .title{
         font-size: 16px;
    }
     div.goods p{
         font-size: 12px;
    }
    /*-------------------------------------------- footer -- */
     #footer-container{
         width:auto;
    }
     footer{
         margin-top: 290px;
    }
     .social{
         width:auto;
         text-align: center;
    }
     .copyright{
         padding: 2px;
         text-align: right;
         font-size: 7px;
    }
    /*-------------------------------------------- aboutus.html -- */
     .aboutus div{
         display: inline;
    }
}
 @media screen and (max-width: 767.98px) {
     #salesmessage{
         width:46%;
         margin-left:auto;
         margin-right:auto;
         margin-top:15px;
    }
    /*-------------------------------------------- contactus.html -- */
     .message-form label, option, select, input{
         height: 80%;
         width:80%;
    }
     .message-form textarea{
         width:80%;
    }
     .message-form{
         margin-right: 0px;
    }
}
 @media screen and (max-width: 576.02px) {
     body {
         width: auto;
    }
     .mainpage{
         padding-top: 6px;
         padding-left:10px;
    }
    /* --------------- heading ----- */
     .section-heading{
         font-size: 24px;
         padding: 0 1em 0 1em;
    }
     .name{
         font-size: 36px;
    }
     .breadcrumb{
         padding: 0 1em 0 1em;
    }
     .rightalign{
         text-align: center;
    }
    /* --------------- gallery.html ----- */
     .card img{
         min-width: 220px;
         height: auto;
    }
    /* --------------- footer ----- */
     footer{
         margin-top: 175px;
    }
     .social ul>li {
         font-size: 35px;
    }
}
 @media screen and (max-width: 415.02px) {
     footer{
         margin-top: 80px;
    }
}
