@import url('https://fonts.googleapis.com/css?family=Acme|Alata|Trade+Winds&display=swap');

/*-------------------------------------------- body --*/

body{
    position:relative; 
    margin:0px auto;
    width: 1080px;

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*-------------------------------------------- Navbar (Menu) -- */

.navbar{
    
    background-color:#fdf0ff;
}

.dropdown-menu{
    background-color:#fcf6ff;
}

.hvr-back-pulse{
    background-color :#fcf6ff;
}

.dropdown-menu a:hover{
    background-color : #caebdb;
}


.navbar-nav{
    color:#001854;
    font-family:  'Acme' ;
    font-size: 22px;
}

.navbar-toggler { 
    margin-left: 20px;
            border-color: #001854; 
            
        } 
        
.navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 24, 84, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

.navbar-nav .nav-link {
    color: #001854;
}


.navbar-brand{
    margin-left:30px;
}

.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}

.svg-inline--fa {
    font-size: 35px;
    color:green;
}

a[data-toggle="collapse"] {
    position: relative;
}



/*-------------------------------------------- Heading --*/

.heading div{
    display: inline-block;
}

.col-md-12{
    background-image: url("../images/01.Logo.png"),url("../images/02.TitleBackground.png");
    background-position: 35px,center;
    background-repeat: no-repeat,no-repeat;
    background-size:12%, cover;
    text-align: center;
    vertical-align: baseline;
    padding: 30px;
}

.col-md-12 .row a{
    text-align: center;
}

header {
    margin: 0;
}

.name, .title{
    font-family:  'Trade Winds' ;    
}

.name{
    font-size: 45px;
}


/*--------------------------------------------mainpage -- */
.mainpage{
    padding: 20px 0px 0px 30px;
    font-family: alata;
}


.breadcrumb{
    padding: 0;
    background-color: transparent;
    font-family: acme;
    font-size:14px;
    
}

.breadcrumb a{
    color:blue;
}


.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">";
}


.section-heading{
    font-size: 30px;
    font-style:italic;
    font-weight:bold;
    margin-top: 15px;
    margin-bottom: 40px;
}

.rightalign{
    text-align: right;
    padding-right: 75px;
}

/*-------------------------------------------- mainpage : index.html -- */

.mainpage .indeximg{
    padding:20px 0 0 15px;
    height: 467px;
    width: 832px;
}

div .contents{
    padding-right: 30px;
}


/*-------------------------------------------- mainpage : information.html, dalahorse.html, rooster.html -- */

.contents{
    display: inline-block;
    max-width:480px;
}

#dalahorseinfopic{
    max-width: 400px;
    max-height: 400px;
    border:0px;
    margin-left: 35px;
    margin-right: 35px;
}


#roosterinfopic{
    max-width: 500px;
    max-height: 400px;
    border:0px;
}

#roosterpic{
    max-width: 480px;
    max-height: 400px;
    border:0px;
}

#dalahorsepic{
    max-width: 450px;
    max-height: 450px;
    border:0px;
}

/*--------------------------------------------mainpage : gallery.html -- */

.card-columns{
    margin-top:20px;
    column-count:auto;
}

.card-columns .card {
    width: 310px;
    height: 260px;   
    border:none;
    margin-right: 20px;
}

.card img{
    width: 300px;
    height: 250px;   
}

/*--------------------------------------------mainpage : Purchase.html, dalahorsegoods.html, roostergoods.html*/

div.goods{
    margin-left:10px;
    margin-right: 30px;
    margin-bottom: 40px;
    vertical-align: top;
    display: inline-block;
    padding: 10px; 
    text-align: center;
}

div.goods h6{
    margin-top: 8px;
   font-size: 20px;
   text-align: center;
}

div.goods p{
    text-align: left;
    padding-left: 20px;
   font-size: 14px;
}

span.webprice{
    font-size: 18px;
    padding-left: 5px;
    font-weight: bold;
    color:red;

}

div.goods img{
    width:180px;
    height: 180px;
}

div.goods button{
    width:88px;
    height: 50px;
    font-size: 16px;
}


/*--------------------------------------------mainpage : aboutus.html -- */


div.contactinfo{
    padding: 10px 0 0 0;
    vertical-align: top;
    display: inline-block;
    max-width: 550px;
    margin-right: 40px;
}


.contactinfo p{
    text-align: left;
    font-family: 'Alata';
    font-weight: bold;
}

.contactinfo p>.svg-inline--fa{
    font-size:25px;
}


#mapimg{
        width:100%;
        height: auto;
    }

.language li{
    vertical-align: top;
    display: inline-block;
    padding-right:11px;
}


/*--------------------------------------------mainpage : contactus.html -- */


.message-form{
    display: block;
    text-align: center;
    margin-right: 35px;
}
.message-form select, input{
    width: 80%;
    margin-bottom: 15px;
    display: inline-block;
    height: 32px;
}

.message-form textarea{
    width: 80%;
    margin-bottom: 15px;
    resize:none;
    overflow-y: scroll;

}

.message-form label{
    font-size: 18px;
    margin-bottom: 2px;
    width:12%;
    text-align: left;
    vertical-align: top;
}

.message-link{
    margin-top: 50px;
    font-size : 30px;
    text-align: center;
}

.message-link a{
    color:orangered;
    border-bottom: dotted 1px rgb(255, 196, 0);
}

option:disabled {
    color: rgb(170, 170, 170);
}

/*-------------------------------------------- footer --*/

footer{
    margin-top: 50px;
    padding: 20px;
}

.social{
    text-align: center;
}

.copyright{
    padding: 2px;
    text-align: right;
    font-size: 12px;
}

.list-inline-item{
    padding: 5px 15px 0px 15px;
    font-size: 50px;
}

.list-inline-item a{
    color: #014a00;
}

@media screen and (max-width: 991.98px) {
    .navbar-brand{
        display: none;
    }

}


@media screen and (max-width: 767.98px) {

    body{
        width: auto;
    }

    /*-------------------------------------------- index.html -- */

    .mainpage .indeximg{
        width:80%;
        height: auto;
    }
    
    /*-------------------------------------------- rooster.html -- */
    #roosterinfopic{
        margin-left: 35px;
        margin-top: 35px;
    }


    #texts1, #texts2{
        width:max-content;
    }



    
/*--------------------------------------------mainpage : gallery.html -- */
.card-columns .card {
    width: 250px;
    height: 260px;   
    margin-right: 20px;
}

.card img{
    width: 240px;
    height: 200px;   
}


    /*-------------------------------------------- heading -- */
    .col-md-12{
    background-image: url("../images/01.Logo.png"),url("../images/02.TitleBackground.png");
    background-position: 15px,center;
    background-repeat: no-repeat,no-repeat;
    background-size:12%, cover;
    text-align: center;
    vertical-align: baseline;
    padding: 30px;
    max-width:100%;
    }  
    .name{
    font-size: 30px;
    }

    .title{
        font-size: 16px;
    }

    /*-------------------------------------------- footer -- */
    #footer-container{
        width:auto;
    }

    .social{
        width:auto;
    text-align: center;
    }

    .copyright{
    padding: 2px;
    text-align: right;
    font-size: 7px;
    }

    /*-------------------------------------------- aboutus.html -- */
    .aboutus div{
        display: inline;
    }

    #mapimg{
        width:80%;
        height: auto;
    }

    /*-------------------------------------------- contactus.html -- */
    .message-form label, option, select, input{
        height: 80%;
        width:80%;
    }
    .message-form textarea{
        width:80%;
    }
}

    
    .message-form{
    margin-right: 0px;
}

@media screen and (max-width: 575.98px) {
    .mainpage{
        padding-top: 6px;
        padding-left:10px;
    }

    /* --------------- heading ----- */
    .section-heading{
    font-size: 20px;
    }

    .name{
    font-size: 24px;
    }
    
    .col-md-12{

    background-image: url("../images/02.TitleBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}



    /* --------------- information.html, dalahorse.html, rooster.html ----- */
    .contentsbox{
        display: block;
    }
    
#dalahorseinfopic,#roosterinfopic{
    
    margin-left: 0px;
    
    margin-right: 0px;
}



    #dalahorseinfopic, #roosterinfopic,#roosterpic, #dalahorsepic{
        max-width: 95%;
        max-height: 95%;
    }


    #texts1, #texts2{
        width:auto;
    }

    .contentsbox > p{
        display: block;
    }

    /*--------------------------------------------mainpage : gallery.html -- */

    .card-columns .card {
    width: 280px;
    height: 260px;   
    border:none;
    margin-right: 20px;
    }

    .card img{
    width: 270px;
    height: 230px;   
    }

    /* --------------- aboutus.html ----- */
    #mapimg{
        width:90%;
        height: auto;
    }


    /* --------------- footer ----- */
    .social ul>li { 
        font-size: 35px;
    }
}
