@import url('https://fonts.googleapis.com/css?family=Acme|Alata|Trade+Winds&display=swap');

/*--------------------------------------------body*/

body{
    position:relative; 

    margin:0px auto;
    width: 1080px;

}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/*--------------------------------------------aside*/


section div aside{
    text-align: left;
    font-family: 'Acme';
}
aside{
    padding : 20px 0px 40px 0px;
    background-color: #fce6ff;
    color:black;
    font-family:  'Acme' ;    
}

aside ul li{    
    min-width: 100px;
    font-size: 20px;
}

aside .menuborder{
    margin-top:8px;
    margin-bottom: 8px;
    border-style: dashed;
    border-color:#8642d4;    
}

aside .mainmenu{
    color:#001854;
    font-size: 20px;
    padding: 16px 0px 16px 8px;
}

aside .submenu{
    font-size: 18px;
    margin-left: 16px;
    padding: 8px 0px 8px 8px;
    color: #001f6e;
}

#sidebarCollapse{
    visibility: hidden;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.navbar{
    padding-left: 0;
    padding-right: 0;
}


#sidebar {
    min-width: 130px;
    max-width: 130px;
    min-height: 100vh;
    padding-left: 15px;
    
}
/*
#sidebar.active {
    margin-left: -180px;
}*/

a[data-toggle="collapse"] {
    position: relative;
}

#content{
    padding: 0;
}


/*--------------------------------------------Heading*/

.col-md-8{
    background: url("../images/02.TitleBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    vertical-align: baseline;
    padding: 30px;
}

header {
    margin: 0;
}

.name, .title{
    font-family:  'Trade Winds' ;    
}

.name{
    font-size: 45px;
}

.logo {
    background: url("../images/01.Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    max-width: 200px;
    padding: 10px;
}

/*--------------------------------------------mainpage : index.html*/
.mainpage{
    padding: 20px 0px 0px 30px;
    font-family: alata;
}


.breadcrumb{
    padding: 0;
    background-color: transparent;
    font-family: acme;
    font-size:14px;
    
}

.breadcrumb a{
    color:blue;
}


.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">";
}


.mainpage table{
    padding: 0px 0 0 0px;
}

.section-heading{
    font-size: 30px;
    font-style:italic;
    font-weight:bold;
}

.mainpage .indeximg{
    padding:20px 0 0 15px;
    height: 393px;
    width: 700px;
}

.mainpage table{
    margin: 0px;
    padding: 0px;
}


.mainpage table p{
    margin: 0px;
    padding:5px 5px 5px 0px;
}

div .contents{
    padding-right: 30px;
}

/*--------------------------------------------mainpage : gallery.html*/

#gallery{
    max-width: 700px;
}

#gallery ul li{
    display: inline;
}


.gallery2{
    max-width: 700px;
}

.thumbnail{
    padding:0;
}

.inner{
    display: inline;
    margin: 0;
    padding: 0;
}

.inner1{
    
display: block;
margin: 0px;
padding: 0px;
position: relative;
height: auto;
max-width: auto;
overflow-y: hidden;
overflow-x:auto;

}




/*
.img-thumbnail{
    max-width: 100%;
    height: auto;
    
    float:none;
    margin: auto;
}

.thumbnail>li{    
    display: inline;
}*/


/*--------------------------------------------mainpage : Purchase.html, dalahorsegoods.html, roostergoods.html*/

div.allgoods{
    max-width: 700px;
}

div.goods{
    margin: 2px;
   vertical-align: top;
    display: inline-block;
    padding: 10px; 
    text-align: center;
}

div.goods h6{
   font-size: 15px;
   text-align: center;
}

div.goods p{
    text-align: left;
    padding-left: 10px;
   font-size: 12px;
}

span.webprice{
    font-size: 14px;
    font-weight: bold;
    color:red;
}


div.contactinfo{
    padding: 10px 0 0 0;
    vertical-align: top;
    display: inline-block;
    max-width: 300px;
}

.contactinfo p{
    text-align: left;
    font-family: 'Alata';
    font-weight: bold;
}

.language li{
    vertical-align: top;
    display: inline-block;
    padding:0 11px 0 0;
}

.message-form{
    display: block;
    text-align: center;
    max-width: 680px;
  
}
.message-form select, input{
    width: 80%;
    margin-bottom: 5px;
    display: inline-block;
}

.message-form textarea{
    width: 80%;
    margin-bottom: 5px;
}


.message-form label{
    font-size: 15px;
    margin-bottom: 2px;
    width:15%;
    text-align: left;
    vertical-align: top;
}



.message-link{
    margin-top: 20px;
    font-size : 25px;
    border-bottom: 1px;
    text-align: center;
}

option:disabled {
    color: rgb(170, 170, 170);
    /*-internal-light-dark-color(graytext, rgb(170, 170, 170));*/
}

/*--------------------------------------------footer*/

footer{
    padding: 20px;
}

.social{
    text-align: center;
}

.copyright{
    padding: 2px;
    text-align: right;
    font-size: 12px;
}

.list-inline-item{
    padding: 5px 15px 0px 15px;
    font-size: 50px;
}

.list-inline-item a{
    color: #014a00;
}


@media screen and (max-width: 991.98px) {
    #sidebar.active {
        margin-left: 0;
        padding-right:10px;
    }
    
    #content{
        padding-right:30px;
    }
}



@media screen and (max-width: 767.98px) {

    body{
        width: auto;
    }


    .mainpage{
        width:70%;
    }


    #gallery {
        max-width: auto;
     column-count:2;
    }

    aside{
        padding : 0;

    }

    #sidebarCollapse{
    visibility:visible;
    }


    #sidebar {
        margin-left: -130px;
    }

    .logo{
        max-height: 0px;
        max-width: 0px;
    }

    .name{
    font-size: 30px;
    }

    .title{
        font-size: 16px;
    }

    #footer-container{
        width:auto;
    }


    .social{
        width:auto;
    text-align: center;
    }

    .copyright{
    padding: 2px;
    text-align: right;
    font-size: 7px;
    }

    .col-md-8{
    text-align: center;
    vertical-align: baseline;
    padding: 30px;
    height: 50%;
    width: -webkit-fill-available;
    }

    .mainpage .indeximg{
        width:100%;
        height: auto;
    }

    #content{
        background-color: white;
        padding: 0px;
    }
  }


@media screen and (max-width: 576px) {
    #gallery {
    max-width: auto;
     column-count:1;
    }

    .col-sm-12{
        width: -webkit-fill-available;
    }

    .section-heading{
    font-size: 20px;
    }
    
  }



